<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav class="greedy-nav greedy-nav--static" aria-label="Primary navigation">
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item">
              <a href="{{ domain }}{{ link.url }}"><span class="nav-label">{{ site.t.en[link.title] | default: link.title }}</span></a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
